<!DOCTYPE html>
<html>
  <head>
    <title>Disc Mapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">

      <ul class="top-ul">
        <strong>
          <%= link_to 'Disc Mapper', root_path %>
        </strong>
      </ul>

      <% if user_signed_in? %>
        <ul class="top-ul"><%= link_to 'Update Account', edit_user_registration_path, method: :get %></ul>
        <ul class="top-ul"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></ul>
        <% if current_user.admin? %>
          <ul class="top-ul"><%= link_to "Admin Section", admin_path %></ul>
        <% end %>
      <% else %>
        <ul class="top-ul"><%= link_to 'Sign In', new_user_session_path %></ul>
        <ul class="top-ul"><%= link_to 'Sign Up', new_user_registration_path %></ul>
      <% end %>

    </nav>


    <%= yield %>
  </body>
</html>
