<!DOCTYPE html>
<html>
  <head>
    <title>Disc Mapper</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div class="the-top" data-topbar role="navigation">

      <div class="small-6 medium-6 large-6 columns the-top-left">
          <strong>
            <%= link_to 'Disc Mapper', root_path %>
          </strong>
      </div>
      <!-- <div class="small-3 medium-3 large-3 columns the-top-middle">
        <%= link_to 'THE CHATROOM', root_path %>
      </div> -->
      <div class="small-6 medium-6 large-6 columns the-top-right">
          <% if user_signed_in? %>
            <div class="small-9 medium-9 large-9 columns signed-in"><%= link_to 'Update Account', edit_user_registration_path, method: :get %></div>
            <div class="small-3 medium-3 large-3 columns signed-in"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
          <% else %>
            <div class="small-9 medium-9 large-9 columns else"><%= link_to 'Sign In', new_user_session_path %></div>
            <div class="small-3 medium-3 large-3 columns else"><%= link_to 'Sign Up', new_user_registration_path %></div>
          <% end %>
      </div>

    </div>
    <div class="app">
      <%= yield %>
    </div>
  </body>
</html>
