<!DOCTYPE html>
<html>
  <head>
    <title>Disc Mapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div class="top-bar" data-topbar role="navigation">

      <div class="top-bar left">
        <ul class="top-ul">
          <strong>
            <%= link_to 'Disc Mapper', root_path %>
          </strong>
        </ul>
      </div>
      <div class="top-bar right">
        <div class="row">
          <% if user_signed_in? %>
            <ul class="small-4 large-4 columns"><%= link_to 'Update Account', edit_user_registration_path, method: :get %></ul>
            <ul class="small-4 large-4 columns"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></ul>
            <% if current_user.admin? %>
              <ul class="small-4 large-4 columns"><%= link_to "Admin Section", admin_path %></ul>
            <% end %>
          <% else %>
            <ul class="top-ul"><%= link_to 'Sign In', new_user_session_path %></ul>
            <ul class="top-ul"><%= link_to 'Sign Up', new_user_registration_path %></ul>
          <% end %>
        </div>
      </div>

    </div>

    <%= yield %>

  </body>
</html>
